.root {
  max-width: 100%;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  margin-bottom: 20px;
}

.swiperButtonsGroup {
  display: flex;
  column-gap: 8px;
}

.tasksCount {
  color: var(--text-secondary);
}

.tasks {
  margin-top: 16px;
  display: flex;
  gap: 12px;
}

.task {
  width: 100%;
}

.slider {
  width: 100%;
}

.sliderWrapper {
  width: 100% !important;
  max-width: 100% !important;
  overflow: hidden !important;
}

.swiperButton {
  background-color: var(--white);
  width: 28px;
  height: 28px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left,
.right {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

:global(.dark) {
  .swiperButton {
    background-color: var(--dark);
  }
}
