.root {
  max-width: 100%;
  overflow: hidden;
}

.main {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  display: flex;
  column-gap: 16px;
}

.statsWrapper {
  margin-top: 24px;
  display: grid;
  grid-template-columns: minmax(0, 250px) 2fr;
  gap: 20px;
}

.lastTasks {
  margin-top: 20px;
}
