.root {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.main {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  display: flex;
  column-gap: 16px;
}

.statsWrapper {
  margin-top: 24px;
  display: grid;
  grid-template-columns: minmax(0, 250px) 2fr;
  gap: 20px;
}

.chat {
  height: 100%;
  // min-height: 100vh;
  background-color: var(--primary-500);
}
