{
 
  "tabWidth": 2,
  "useTabs": false,
  "singleAttributePerLine": true,
  "printWidth": 80,
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/types/(.*)$",
    "^@/config/(.*)$",
    "^@/constants/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
