.root {
  margin-top: 16px;
  width: 100%;
  height: 45px;
  background-color: var(--primary-100);
  border-radius: 99px;
  overflow: hidden;
}

.notStarted {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
}

.bar {
  height: 100%;
  border-top-right-radius: 99px;
  border-bottom-right-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: var(--white);

  cursor: default;
}

.percentage {
  display: flex;
  column-gap: 5px;
  font-weight: 500;
  cursor: default;
}

:global(.dark) {
  .root {
    background-color: var(--dark-500);
  }
}
