.root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: var(--primary);
  color: #ffffff;

  &:hover:not(.outlined) {
    background-color: var(--primary-300);
  }
}

.rounded {
  padding: 0;
  border-radius: 100%;
}

.outlined {
  background-color: transparent;
  background: transparent;
  border: 2px solid var(--primary);
}
