:root {
  --font-family: "Roboto", sans-serif;

  --primary: #725cee;
  --primary-200: #dadafe;
  --primary-400: #453c9c;
  --primary-500: #3c3494;

  --text-primary: #000000;
  --text-secondary: #878787;
  --main-bg: #f6f4ff;
  --white: #ffffff;
  --light-grey: #f6f6f6;
  --light-grey-hover: #ededed;
  --lavender-100: #f6f4ff;
  --lavender-300: #e1cdff;
  --yellow: #fde253;
  --pink: #fdc2f6;
  --purple: #725cee;
  --purple-200: #dadafe;
  --orange: #fbc125;
  --teal: #19c2ab;
  --teal-600: #03846d;
  --shadow: 1px 1px 4px 0px rgba(34, 60, 80, 0.14);

  --dark: #262626;
  --text-primary-dark: #ffffff;
  --text-secondary-dark: #c8c8c8;
  --text-secondary-dark: #c8c8c8;
  --primary-400-dark: #1b1465;
  --grey-500-dark: #a3a2a2;
  --grey-600-dark: #4b4b4b;
  --grey-700-dark: #404040;
  --main-bg-dark: #1b1b1b;
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/roboto-v48-cyrillic_latin-200.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-v48-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/roboto-v48-cyrillic_latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/roboto-v48-cyrillic_latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/roboto-v48-cyrillic_latin-700.woff2") format("woff2");
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  background-color: var(--main-bg);
  color: var(--text-primary);
}

.dark {
  body {
    background-color: var(--main-bg-dark);
    color: var(--text-primary-dark);
  }

  --yellow: #d4b122;
  --pink: #d460c2;
  --lavender-300: #6b43a6;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* Links */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  padding-inline-start: 0;
}

img {
  vertical-align: top;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  background: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
