.root {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.chat {
  padding: 20px;
  position: fixed;
  height: 100%;
  min-height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  width: 16.5%;
  background-color: var(--primary-500);
}
